.vscode
build
tags
.editorconfig
.DS_Store
install_ipopt.sh
install-ubuntu.sh
install-mac.sh
CODEOWNERS
CMakeFiles/
.settings/
cmake_install.cmake
.project
.cproject
Makefile
CMakeCache.txt
mpc
tests.py
